body,ul,li{
	margin:0;
	padding:0;
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	border:none;
	font-size: 0;
}
/*教师团队 开始*/
.m_wlh_teacherbox{
	width: 100%;
	height: auto;
	padding-bottom: 50px;
	background-color: #212e3e;
	background-image:url(../images/wlh_images/m_wlh_index_teacher_bg.png);
   background-position: 50% 165px;
   background-repeat: no-repeat;
   background-size: 87% 50%;
   overflow: hidden;
}
.m_wlh_teacherinner{
	width: 87%;
	height: auto;
	margin:0 auto;
	position: relative;
	overflow: hidden;
}

/*标题 开始*/
.m_wlh_teachertitle{
   width: 93%;
   height: auto;
   margin:0 auto;
}
.m_wlh_teachertitle img{
	width: 100%;
	height: 100%;
}
/*标题 结束*/

/*内容 结束*/
.m_wlh_teachercon{
   width: 93%;
   height: 750px;
   padding-bottom: 20px;
   margin:0 auto;
   position: relative;
   overflow: hidden;
}
.m_wlh_teacher_card{
	width: 50%;
	float: left;
	height: auto;
}
.m_wlh_teacher_card a{
	display: block;
	width: 100%;
	height: 100%;
}
.m_wlh_teacher_bluebox{
	width: 90%;
	height: auto;
	border-radius: 3px;
	padding:3px;
	margin:0 auto;
}
.m_wlh_teacher_bluebox_hover{
	background: #3899f0;
}

.m_wlh_teacher_conimg{
	width: 99%;
	height: auto;
	border:1px solid #4f4f4f;
	box-shadow: -3px 10px 30px rgba(0,0,0,0.5);
	margin:0 auto;
	background: #010101;
}
.m_wlh_teacher_conimg img{
	width: 100%;
}
.m_wlh_teacher_conword{
	width: 100%;
	height: auto;
	padding-top: 11px;
	position: relative;
	margin:0 auto;
	text-align: center;
	padding-bottom: 20px;
}
.m_wlh_teacher_conword_hover{
	background: #0f0e0f;
}
.m_wlh_teacher_namebox{
	color: #fff;
	font-size: 34px;
}
.m_wlh_teacher_yin{
	margin-top: 5px;
	margin-bottom: 3px;
	color: #aad0ff;
	font-family: Arial;
	font-size: 30px;
}
.m_wlh_teacher_star img{
    width: 12px;
    height: 12px;
    margin-right: 5px;
}
.m_wlh_teacher_ui{
    margin-top:15px; 
    font-family: Arial;
    font-size: 24px;
    color: #c0dcff;
}
.m_wlh_teacher_UI{
	font-weight: bold;	
}
.m_wlh_teacher_num{
	margin-top: 8px;
	font-family: "Helvetica Neue Thin","微软雅黑";
	color: #aecaec;
	font-size: 50px;
	font-weight: lighter;
}
.m_wlh_teacher_china{
    color: #fff;
    padding:0 10px;
    height: 80px;
    overflow: hidden;
    margin-top: 10px;
    display: none;
    font-size: 22px;
}
.m_wlh_teacher_jiantou{
	width: 50px;
	height: 50px;
	background-image: url(../images/wlh_images/wlh_index_index_hover.jpg);
	display: none;
	margin:0 auto;
}
.m_wlh_teacher_bluebox_bg{
	width: 100%;
	height: 47px;
	background-image: url(../images/wlh_images/wlh_index_teacher_big_bg1.png);
	display: none;
	background-size: 95%;
	background-repeat: no-repeat;
}


/*大盒子 开始*/
.m_wlh_teacher_cardbox{
	width: 100%;
	height: 600px;
	position: absolute;
	left: 0;
	top:0;
}
/*大盒子 结束*/

/*内容 结束*/


/*圆点 开始*/
.m_wlh_teacher_btnbox{
	width: 100px;
	height: 10px;
	position: absolute;
	left: 44%;
	bottom: 5%;
}
.m_wlh_teacher_btnbox li{
	cursor: pointer;
	width: 10px;
	height: 10px;
	border-radius: 50px;
	background: #0f0e0f;
	float: left;
	margin-right: 20px;
}
/*圆点 结束*/

/*交流 开始*/
.m_wlh_teacher_exchange{
	width: 344px;
	height: 54px;
	margin:0 auto;
	margin-top: 40px;
}
.m_wlh_teacher_left{
	width:27px;
	height: 54px;
	background-image: url(../images/wlh_images/wlh_index_teacher_left.png); 
	float: left;
}
.m_wlh_teacher_right{
	width:27px;
	height: 54px;
	background-image: url(../images/wlh_images/wlh_index_teacher_right.png); 
	float: right;
}
.m_wlh_teacher_center{
	width:250px;
	height: 54px;
	background-image: url(../images/wlh_images/wlh_index_teacher_center.png); 
	float: left;
	margin-left: 22px;
}
.m_wlh_teacher_center a{
	width:250px;
	height: 54px;
	display: block;
}
/*交流 结束*/

/*教师团队 结束*/