
.lxr_box{
    width: 100%;height: 1028px;
    background: #f7f7f7;
}
.lxr_min_box{
    width: 1000px;height: 100%;
    margin: 0 auto;
    position: relative;
}

.lxr_title_box{
    width: 480px;height: 200px;
    position: absolute;
    top: 99px;left: 20px;
    z-index: 2;
}


.lxr_bg_box{
    width: 1046px;height: 536px;
    position: absolute;
    top: 245px;left: -23px;
    z-index: 2;
}
.lxr_logo_box{
    width: 342px;height: 104px;
    position: absolute;
    top: 70px;left: 48px;
}
.lxr_word1{
    position: absolute;
    top: 190px;left: 78px;
}
.lxr_word1 span{
    color: #FFFFFF;font-size: 18px;
    font-family: "黑体", "微软雅黑";
    line-height: 28px;
}
.lxr_word2{
    position: absolute;
    top: 275px;left: 78px;
}
.lxr_word2 span{
    color: #FFFFFF;font-size: 13px;
    font-family: "黑体", "微软雅黑";
    line-height: 24px;
}
.lxr_more_box{
    width: 105px;height: 35px;
    position: absolute;
    top: 428px;left: 77px;
}


.lxr_photo_box{
    width: 462px;height: 664px;
    border: 2px solid #27A4F3;
    position: absolute;
    top: 184px;right: 14px;
    z-index: 3;
    border-radius: 1px;
    box-shadow: 0 0 15px #999 ;
}

.lxr_computer_box{
    width: 516px;height: 176px;
    position: absolute;
    z-index: 5;
    top: 674px;left: -220px;
}