body,ul,li{
	margin:0;
	padding:0;
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	border:none;
}
/*教师团队 开始*/
.wlh_teacherbox{
	width: 100%;
	height: 1014px;
	background-color: #212e3e;
	background-image:url(../images/wlh_index_teacher_big_bg.png);
   background-position: 50% 377px;
   background-repeat: no-repeat;
   overflow: hidden;
}
.wlh_teacherinner{
	width: 1114px;
	height: 100%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

/*标题 开始*/
.wlh_teachertitle{
   width: 1000px;
   height: 254px;
   margin:0 auto;
   background-image: url(../images/wlh_index_teacher_big_head.jpg)
}
/*标题 结束*/

/*内容 结束*/
.wlh_teachercon{
   width: 1000px;
   height: 582px;
   margin:0 auto;
   position: relative;
}
.wlh_teacher_card{
	width: 250px;
	float: left;
	height: 100%;
}
.wlh_teacher_card a{
	display: block;
	width: 250px;
	height: 572px;
}
.wlh_teacher_bluebox{
	width: 244px;
	height: 519px;
	border-radius: 3px;
	padding:3px;
}
.wlh_teacher_bluebox_hover{
	background: #3899f0;
}
.wlh_teacher_conbox{
	width: 244px;
	height: 100%;
}

.wlh_teacher_conimg{
	width: 242px;
	height: 240px;
	border:1px solid #4f4f4f;
	box-shadow: -5px 15px 30px rgba(0,0,0,0.5)
}
.wlh_teacher_conimg img{
	width: 242px;
	height: 240px;
}
.wlh_teacher_conword{
	width: 204px;
	height: 239px;
	padding-top: 38px;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
}
.wlh_teacher_conword_hover{
	background: #0f0e0f;
}
.wlh_teacher_namebox{
	color: #fff;
	font-size: 20px;
}
.wlh_teacher_yin{
	margin-top: 5px;
	margin-bottom: 3px;
	color: #aad0ff;
	font-family: Arial;
	font-size: 18px;
}
.wlh_teacher_star img{
    width: 12px;
    height: 12px;
    margin-right: 5px;
}
.wlh_teacher_ui{
    margin-top:37px; 
    font-family: Arial;
    font-size: 14px;
    color: #c0dcff;
}
.wlh_teacher_UI{
	font-weight: bold;	
}
.wlh_teacher_num{
	margin-top: 5px;
	font-family: "Helvetica Neue Thin","微软雅黑";
	color: #aecaec;
	font-size: 26px;
	font-weight: lighter;
}
.wlh_teacher_china{
    color: #fff;
    width: 100%;
    height: 50px;
    overflow: hidden;
    margin-top: 20px;
    display: none;
    font-size: 12px;
}
.wlh_teacher_jiantou{
	width: 50px;
	height: 50px;
	background-image: url(../images/wlh_index_index_hover.jpg);
	position: absolute;
	right:-19px;
	bottom:19px;
	display: none;
	z-index: 10;
}
.wlh_teacher_bluebox_bg{
	width: 100%;
	height: 47px;
	background-image: url(../images/wlh_index_teacher_big_bg1.png);
	display: none;
}


/*大盒子 开始*/
.wlh_teacher_cardbox{
	width: 1000px;
	height: 572px;
	position: absolute;
	left: 0;
	top:0;
}
/*大盒子 结束*/

/*内容 结束*/


/*圆点 开始*/
.wlh_teacher_btnbox{
	width: 100px;
	height: 10px;
	position: absolute;
	left: 449px;
	bottom: 0px;
}
.wlh_teacher_btnbox li{
	cursor: pointer;
	width: 10px;
	height: 10px;
	border-radius: 50px;
	background: #0f0e0f;
	float: left;
	margin-right: 20px;
}
/*圆点 结束*/

/*交流 开始*/
.wlh_teacher_exchange{
	width: 344px;
	height: 54px;
	position: absolute;
	left: 384px;
	bottom: 64px;
}
.wlh_teacher_left{
	width:27px;
	height: 54px;
	background-image: url(../images/wlh_index_teacher_left.png); 
	float: left;
}
.wlh_teacher_right{
	width:27px;
	height: 54px;
	background-image: url(../images/wlh_index_teacher_right.png); 
	float: right;
}
.wlh_teacher_center{
	width:250px;
	height: 54px;
	background-image: url(../images/wlh_index_teacher_center.png); 
	float: left;
	margin-left: 22px;
}
.wlh_teacher_center a{
	width:250px;
	height: 54px;
	display: block;
}
/*交流 结束*/

/*教师团队 结束*/