.head{
	width: 100%;
	height: 100px;
	background: #212e3e;
	position: absolute;
	z-index: 999;
}
.head .head_content{
    width: 1000px;
    height: 100px;
    margin: 0 auto;
}
.head_content .logo{
	float: left;
	width: 197px;
    height: 100px;
}
.head_content .logo a{
    display: block;
    width: 197px;
    height: 100px;
    background: url("../images/zch_image/zch_logo.png");
}
.head_content .nav_list{
	float: left;
	margin-left: 86px;
	margin-top:34px;
}
.nav_list ul li{
	float: left;
	margin-right:20px;   
}
.head_content .nav_list a{
	font-size: 13px;
	color: #ededed;
	display:block;
}
.nav_list ul .fg{
	display: block;
    width: 0px;
   /*  color: #333f4d; */
    height: 30px;
    border-right: 1px solid #333f4d
}
.head_content .catagory{
	float: right;
	margin-top: 17px;
} 
.head_content .catagory .ct_1{
	margin-bottom: 12px;
}